<div class="container-fluid">
    <div class="container-fluid pt-4">
        <label class="pb-3" [ngClass]="['side-bar-sub-heading']">CORE</label>
        <button class="btn button-text d-flex justify-content-between align-items-center px-0"><img class="icon-style-dashboard" [src]="dashboardImg"><p class="text-style-inner flex-grow-1 m-0">Dashboard</p></button>
    </div>

    <div class="container-fluid pt-4">
        <label class="pb-3" [ngClass]="['side-bar-sub-heading']">INTERFACE</label>
        <button class="btn button-text d-flex justify-content-between align-items-center px-0 pb-2"><img class="icon-style-layout" [src]="layoutImg"><p class="text-style-inner flex-grow-1 m-0">Layouts</p> <img [src]="arrowRight"></button>
        <button class="btn button-text d-flex justify-content-between align-items-center px-0 pb-2"><img class="icon-style-pages" [src]="pagesImg"><p class="text-style-inner flex-grow-1 m-0">Pages</p> <img [src]="arrowRight"></button>
    </div>

    <div class="container-fluid pt-4">
        <label class="pb-3" [ngClass]="['side-bar-sub-heading']">INTERFACE</label>
        <button class="btn button-text d-flex justify-content-between align-items-center px-0 pb-2"><img class="icon-style-area" [src]="areaImg"><p class="text-style-inner flex-grow-1 m-0">Charts</p></button>
        <button class="btn button-text d-flex justify-content-between align-items-center px-0 pb-2"><img class="icon-style-table" [src]="tablesImg"><p class="text-style-inner flex-grow-1 m-0">Tables</p></button>
    </div>
</div>