<h2 class="px-4 pt-4">Dashboard</h2>
    <p class="para-dashboar px-4">Dashboard</p>

<!-- different colored cards -->
<div class="d-flex flex-row justify-content-between p-1">
    <div class="mx-4 card text-white bg-primary flex-grow-1">
    <div class="card-body align-items-center">
        Primary Card
    </div>
    <div class="card-footer d-flex justify-content-between">
        <a style="color: aliceblue;" href="#">View Details</a>
        <a href="#"><img [src]="rightArrow"></a>
    </div>
    </div>
    <div class="mx-4 card text-white bg-warning flex-grow-1">
    <div class="card-body align-items-center">
        Primary Card
    </div>
    <div class="card-footer d-flex justify-content-between">
        <a style="color:aliceblue;" href="#">View Details</a>
        <a href="#"><img [src]="rightArrow"></a>
    </div>
    </div>
    <div class="mx-4 card text-white bg-success flex-grow-1">
    <div class="card-body align-items-center">
        Primary Card
    </div>
    <div class="card-footer d-flex justify-content-between">
        <a style="color:aliceblue" href="#">View Details</a>
        <a href="#"><img [src]="rightArrow"></a>
    </div>
    </div>
    <div class="mx-4 card text-white bg-danger flex-grow-1">
    <div class="card-body align-items-center">
        Primary Card
    </div>
    <div class="card-footer d-flex justify-content-between">
        <a href="#" style="color:aliceblue">View Details</a>
        <a href="#"><img [src]="rightArrow"></a>
    </div>
    </div>
</div>