<!-- navigation  -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid col col-12">
    <a href="#" class="navbar-brand col col-2" [innerText]="userName"></a>
    <div class="col col-7">
      <button (click)="diplaySideBar()" class="toggle-nev-button btn btn-dark" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex input-group justify-content-end">
        <input class="form-control" type="search" placeholder="Search for...">
        <button class="btn btn-primary"><img style="width: 50%;" [src]="searchIcon"></button>
      </form>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#">
          <img [src]="userIcon">
        </a>
      </div>
    </div>
  </div>
</nav>
<!-- main body -->
<div class="d-flex">
  <div [style]="sideBarClass()" class="d-flex flex-column justify-content-between bg-dark text-white">
<!-- side-bar component -->
    <app-side-bar class="flex-grow-1" [ngClass]="{'hide-side-bar':!sideBarVisible}"></app-side-bar>
<!-- footer of the side bar -->
    <footer class="slidebar-footer px-4 pt-4" [ngClass]="{'hide-side-bar':!sideBarVisible}">
      <p class="mb-1 sidebar-footer-heading">Logged in as:</p>
      <p class="sidebar-footer-user">{{userName}}</p>
    </footer>
  </div>
<!-- card and chart section -->
  <div class="justify-content-between flex-grow-1">

<!-- card component -->
    <app-cards></app-cards>

<!-- cart component -->
    <app-charts></app-charts>
<!-- table component -->
    <app-tables></app-tables>
  </div>
</div>  